[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = http://github.com/mattn/emmet-vim.git
